
* {
    
    box-sizing: border-box; 
}

img, video {
   
    max-width: 100%;
    height: auto; 
}
.img {
    max-width: 100%;
    height: auto;   
    display: block;
}




.block-icon {
    width: 235px;
    height: 150px;
    margin-bottom: 75px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: #fff;
    color: #ffffff;              
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color:#fff ;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0056b3;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
}
header nav a:hover {
    color: #0056b3;
}


main {
    flex: 1;
    
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    gap: 25px;
    padding: 40px;
}

.grod {

    flex: 1;
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: flex;
    gap: 45px;
    padding: 0%;
    margin-top: 0px;
}

.grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: flex;
    gap: 45px;
    padding: 0%;
    margin-top: 0px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

#first {
    gap: 20px;
}

.card {
    width: 310px;
    height: 360px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    background: #111;
}

.card:hover .card-img {
    transform: scale(1.07);
}

.card:hover .card-overlay {
    opacity: 1;
}

.block {
    width: 290px;
    height: 550px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}








.block:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.block h3 {
    color: #0056b3;
    margin-bottom: 10px;
}




footer {
    background-color: rgb(198, 197, 248);
    color: #000000;
    padding: 15px 15px;
    text-align: center;
}
.botao-principal {
   
    display: inline-block;
    padding: 10px 20px;
   
    color: rgba(0, 0, 0, 0.986);
    border-radius: 5px;

   
    text-decoration: none; 

   
    transition: background-color 0.3s; 
    
}

.botao-principal {
   
    display: inline-block;
    padding: 10px 20px;
   
    color: rgba(0, 0, 0, 0.986);
    border-radius: 5px;

   
    text-decoration: none; 

   
    transition: background-color 0.3s; 
}

.botao-principal:hover {
   
    transform: scale(1.1);
    
   
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}



.block {
   
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333;

   
    background-color: #ffffff; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    min-height: 180px;
    justify-content: center;
    align-items: flex-start;
    
   
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s; 

}


.block:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}


.block:hover h3 {
    color: #007bff;
}

.block-icon {
    
   
    border: 10px solid #e0e0e0;
    border-radius: 1px;
    padding: 0px;

   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
   
    transition: all 0.3s ease;
}


.block-icon:hover {
    border-color: #b3d6d3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.texto-animado {
  display: inline-block;
  padding-left: 100%;
  animation: mover-esquerda 15s linear infinite;
}


@keyframes mover-esquerda {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.container-grads {
  overflow: hidden;
  white-space: nowrap;
  background: #747272;
  margin: 0;             
  display: flex;        
  justify-content: center;
  align-items: center;    
  height: 60px;
  gap: 20px;
  
}

header {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.logo-img {
  height: 60px;
}

.container-letreiro {
  display: flex;
  gap: 12px;
  right: auto;
}

.botao-principal {
  text-decoration: none;
  padding: 8px 12px;
}

.estacio-card {
    width: 310px;
    height: 360px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    background: #111;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}

.estacio-card:hover .card-img {
    transform: scale(1.07);
}

.fav-icon {
    position: left ;
    top: 14px;
    right: 14px;
    background: rgba(0,0,0,0.5);
    padding: 8px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    z-index: 10;
}

.card-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: rgba(20, 106, 187, 0.7);
    opacity: 0;
    transition: opacity .35s ease;
    backdrop-filter: blur(3px);
}

.estacio-card:hover .card-overlay {
    opacity: 1;
}

.curso-info {
    color: #fff;
    margin: 0 0 5px;
    font-size: 14px;
}

.curso-nome {
    color: white;
    margin: 0 0 18px;
    font-size: 26px;
    font-weight: 700;
}

.botoes {
    display: flex;
    gap: 12px;
}

.btn-outline,
.btn-solid {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
    font-size: 15px;
}

.btn-outline {
    border: 2px solid #fff;
    background: #fff;
    color: #233050;
}

.btn-outline:hover {
    background: rgba(105, 170, 231, 0.15);
}

.btn-solid {
    border: none;
    background: #fff;
    color: #233050;
    font-weight: 700;
}

.btn-solid:hover {
    background: #fff;
}

.icon {
    font-size: 18px;
}
.titulo-menor {
  font-size: 30px;
  position: center; 
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000; 
  margin-bottom: 5px;
}

.titulo-destaque {
  font-size: 48px;
  position: center; 
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2;
  color: #000000; 
  margin: 0 0 20px 0;
  max-width: 700px;
}

.descricao {
  font-size: 20px;
  position: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: #0a0a0a;
  max-width: 800px;
  line-height: 1.5;
}
.titulo-destaque,
.descricao,
.titulo-menor {
  margin-left: 90px;
}

.big-card {
  width: 900px;
  height: 300px;
  position: relative    ;
  border-radius: 20px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  background: rgba(0, 70, 160, 0.55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big-subtitulo {
  font-size: 25px;
  color: #fff;
  opacity: 0.9;
  margin: 0 0 5px;
}

.big-titulo {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 20px;
}

.big-botoes {
  display: flex;
  gap: 10px;
}

.big-btn {
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.big-btn-claro {
  background: rgb(255, 253, 253);
  color: #000000;
}

.big-btn-branco {
  background: white;
  color: #000;
}

.big-card {
  margin: 0 auto;
}
.sobre-big {
     width: 120%;
    max-width: 900px; 
    background: #ffffff;
    color: #001b44;
    padding: 50px;
    margin: 90px auto;
    border-left: 8px solid #00AEEF;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.15);
    text-align: center;
    font-family: 'Arial', sans-serif;
}


.sobre-big p {
   font-size: 22px;
    line-height: 1.8;
    font-weight: 500;
    width: 95%;
    margin: 0 auto;
}
.sobre-big img {
    width: 110%;
    max-width: 400px;
    display: block;
    margin: 0 auto 40px auto;
    border-radius: 12px;
}
.sobre-big h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffefef;

}
body {
   
    min-height: 150vh; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f2f5;
}

.floating-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    align-items: center;
}

.floating-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    font-size: 24px;
    border: none;
    background-color: #f8f8f8;
}


.floating-button i {
    color: #007bff;
}


.floating-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}


.floating-button.whatsapp i { color: #25D366; }
.floating-button.instagram i { color: #E4405F; }
.floating-button.phone i { color: #6c757d; }
.floating-button.scroll-top {
    background-color: #007bff; 
    border-radius: 10px;
    width: 65px; 
    height: 40px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.floating-button.scroll-top i {
    color: white; 
    font-size: 20px;
}
.floating-button.scroll-top:hover {
    background-color: #0056b3;
}
* {
    box-sizing: border-box; 
}

.campus-hero {
  position: relative;
  width: 70%;
  height: 300px;
 filter: brightness(90%);
  background-image: url('images/campus1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 16px;
 margin: 50px auto 0 auto;
}

.campus-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.campus-content { /*vida no casmpus*/
  position: relative;
  z-index: 10;
  text-align: center;
  color: rgb(255, 255, 255);
}

.campus-label {
  display: block;
  font-size: 14px;
  font-weight: 500 ; 
  letter-spacing :2px;
  margin-bottom :12px;
  opacity: 0.95;
}

.campus-title {
  font-size: 72px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.6), 0 2px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .campus-hero {
    height: 300px;
  }
  
  .campus-title {
    font-size: 48px;
  }
  
  .campus-label {
    font-size: 12px;
  }
}






